<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>CHAT!!!</title>
</head>
<body>
    
    <div class="wrapper">
        <input type="text" class="name">
        <% database.forEach(el => {%>
            <% let a = JSON.stringify(el) %>
            <% a = JSON.parse(a) %>
            <p><b style = "<%= a.colorT %>"><%=a.name%></b>: <%=a.text%></p>
            
            <%}); %>
            
    </div>
    <input type="text" class="inp">
    <script>
        document.querySelector('.wrapper').scrollTop = document.querySelector('.wrapper').clientHeight + 100000
    </script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="scripts/script.js"></script>
</body>
</html>